/*Vanessa Victorino - 301201653*/

body {
    margin: 0;
    height: 100%;
    font-family: franklin gothic, anton, roboto, open sans, unna;
    background-size: cover;
    background-image: url(student-images/skyline.jpg);
    /*no-repeat center fixed;*/
    width: 100%;
}

#home-link {
    margin-top: 15px;
    margin-left: 25px;
}

.link li {
    display: inline;
    font-stretch: condensed;
}

.link {
    margin-left: 70px;
    margin-top: -49px;
    font-size: 40px;
    list-style-type: none;
    text-decoration: none;
}

.link a {
    margin-left: 15px;
    text-decoration: none;
    color: black;
}

.assignment-links a {
    font-size: 35px;
    color: black;
}

.assignment-links li {
    list-style-type: none;
    text-decoration: none;
}

#four {
    margin-left: -15px;
}

.leftSide {
    padding-left: 12px;
    display: block;
    float: left;
    width: 50%;
    height: 505px;
}

.rightSide {
    display: block;
    float: right;
    width: 40%;
}

.rightSide img {
    margin: 0 auto;
    padding: 10px;
}

.box {
    float: left;
    padding: 5px;
}

#assignments-03 {
    font-size: 15px;
}

.main,
#home-01,
#about-02,
#assignments-03 {
    display: block;
    margin: 30px;
    float: left;
    width: 90%;
    height: 470px;
    background-color: ghostwhite;
    padding: 0 20px;
    border: solid black 3px;
}

#home-01,
#about-02,
#assignments-03 {
    opacity: 93%;
}

#home-01,
#about-02,
#assignments-03 {
    margin-top: 0;
}

#about-02,
#assignments-03 {
    overflow-y: scroll;
    overflow-x: hidden;
}

#A,
#B {
    text-align: center;
    background: black;
    color: ghostwhite;
}

#Awork,
#Bwork {
    font-size: 30px;
    font-weight: bolder;
    border: solid black 2px;
    background-color: grey;
    width: 90%;
    margin: 5px;
}

#home-01,
#about-02,
#assignments-03 {
    background: linear-gradient(to right, skyblue 0%, rgb(5, 67, 92) 100%);
}


/*------------------------------------------------------------------------------*/


/*------------------------------------------------------------------------------*/

header,
footer {
    margin: 0;
    background-color: transparent;
    height: 70px;
}

footer span {
    color: lightgrey;
    font-size: medium;
    margin-left: 30px;
}

footer div {
    color: skyblue;
    margin-left: 100px;
}

@media only screen and (max-width:800px) {
    /* For tablets: */
    .main {
        width: 100%;
        padding: 0;
    }
    .leftSide,
    .rightSide {
        display: block;
        width: 100%;
    }
    .link a,
    li,
    ul {
        font-size: 20px;
    }
    #name {
        width: 25%;
    }
}

@media only screen and (max-width:500px) {
    /* For mobile phones: */
    .main,
    .footer {
        width: 100%;
    }
    .main {
        height: 350px;
    }
    .leftSide,
    .rightSide {
        display: block;
        width: 100%;
    }
    .link a,
    li,
    ul {
        font-size: 20px;
    }
    #name {
        width: 5%;
    }
}